.Header
  = link_to root_path, class: "Header__topButton" do
    HealthFit
  = link_to messages_index_path, class: "Header__baButton" do
    Berfore After
.UpperContents
  .UpperContents__topmessage
    体重の変化
= line_chart @chart, width: "900px", height: "500px"
.BottomContents
  .BottomContents__left
    %p 目標 65 kg
    %p 現在 70 kg
    %p 残り 5 kg
  .BottomContents__right
    %p 基礎代謝 1500 kcal
    %p 1日の目安 1300kcal
    %p 目標まであと 30 日
.BottomMain
  %form.BottomMain__Weight
    %input.weightBtn{url: '#', type: 'number', placeholder: '今日の体重を入力'}
    %input.submitBtn{url: '#', type: 'submit', value: '登録する'}