.TopContents      
  .TopContents__BackgroundImage
    = image_tag 'image.jpg', alt: 'run', height: '100%', width: '100%', class: 'image'
  .TopContents__message
    毎日を楽しく
.Main
  .Main__Contents
    =link_to features_path(current_user) do
      %input.Link{ type: 'button', value: '始まり' }